In [1]:
import numpy as np
import pandas as pd
from os import listdir
from os.path import isfile, join
import warnings
warnings.filterwarnings('ignore')

In [2]:
mypath= 'Detective_CSV_OnlineTest/'
files = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [3]:
temp = [0]*len(files)
sum = 0
for i in range(len(files)):
    temp[i] = pd.read_csv(mypath+files[i])
    temp[i] = temp[i].dropna(subset=['block_name'])
    sum += temp[i].count()
print(sum)

trial_no                       1400.0
block_name                     1400.0
setup_cost                      700.0
setup_cost_investigate_red        NaN
setup_cost_investigate_blue       NaN
                                ...
suspect_accused                1400.0
correct_suspect_accused        1400.0
bonus_earned                      0.0
trial_chosen_for_bonus            0.0
total_bonus_paid_cents            0.0
Length: 200, dtype: float64

In [4]:
for i in range(len(files)-1):
    temp[0] = temp[0].append(temp[i+1], ignore_index=True, sort=False)
print(temp[0].count())

trial_no                       1400
block_name                     1400
setup_cost                      700
setup_cost_investigate_red      650
setup_cost_investigate_blue     650
                               ...
suspect_accused                1400
correct_suspect_accused        1400
bonus_earned                      0
trial_chosen_for_bonus            0
total_bonus_paid_cents            0
Length: 200, dtype: int64

In [5]:
temp1 = temp[0].copy(deep = True)
temp1['part'] = 0
temp1['treatment'] = 0
cols = ['treatment']
[temp1.columns.get_loc(c) for c in cols if c in temp1]

[201]

In [6]:
for key,value in temp1.iterrows():
    if 'part1' in value[1]: temp1['part'][key] = 1
    elif 'part2' in value[1]: temp1['part'][key] = 2
    else: temp1['part'][key] = 3
    
    if 'guilty' in value[1]: temp1['treatment'][key] = 1
    else: temp1['treatment'][key] = 0

In [7]:
temp1 = temp1.drop(columns=['block_name'])
temp1.head()

,trial_no,setup_cost,setup_cost_investigate_red,setup_cost_investigate_blue,red_prior_prob,guilty_suspect_chosen,timing_valid,timing_error,choice_1,choice_2,...,evidence_blue_30,num_evidences_total,final_evidence,suspect_accused,correct_suspect_accused,bonus_earned,trial_chosen_for_bonus,total_bonus_paid_cents,part,treatment
0,1,3.0,NaN,NaN,0.9,red,True,NaN,investigate_blue,investigate_blue,...,NaN,3.0,0.0,red,True,NaN,NaN,NaN,1,0
1,2,3.0,NaN,NaN,0.1,blue,True,NaN,investigate_blue,investigate_blue,...,NaN,3.0,0.0,blue,True,NaN,NaN,NaN,1,0
2,3,1.0,NaN,NaN,0.1,blue,True,NaN,investigate_blue,accuse_blue,...,NaN,1.0,0.0,blue,True,NaN,NaN,NaN,1,0
3,4,7.0,NaN,NaN,0.1,blue,True,NaN,investigate_blue,investigate_blue,...,NaN,7.0,0.0,blue,True,NaN,NaN,NaN,1,0
4,5,5.0,NaN,NaN,0.1,blue,True,NaN,investigate_blue,investigate_blue,...,NaN,5.0,0.0,blue,True,NaN,NaN,NaN,1,0

In [8]:
for i in range(1,4):
    temp2 = temp1.loc[temp1['part'] == i]
    temp2.to_csv('Task'+str(i)+'.csv')